<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="(~{fragment/admin_fragment :: head_html})"></th:block>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center mt-5">Đăng nhập Admin</h2>
        </div>
    </div>
    <div class="row mt-5 justify-content-center">
        <div class="col-6">
            <form method="post" th:action="@{/admin/login}">
                <div id="errorMessage" th:if="${message}" class="alert alert-danger" role="alert"
                     th:text="${message}">
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="username">Tên tài khoản</label>
                    <input name="accountName" type="text" id="username" class="form-control" required/>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="password">Mật khẩu</label>
                    <input name="password" type="password" id="password" class="form-control" required/>
                </div>

                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                    <div class="col d-flex justify-content-center">
                        <!-- Checkbox -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="rememberMe" checked/>
                            <label class="form-check-label" for="rememberMe"> Nhớ tôi khi đăng nhập</label>
                        </div>
                    </div>

                    <div class="col">
                        <!-- Simple link -->
                        <a th:href="@{/forgot-password}">Quên mật khẩu?</a>
                    </div>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Đăng nhập</button>

                <!-- Register buttons -->
                <div class="text-center">
                    <p>Không phải thành viên? <a th:href="@{/register}">Đăng ký ngay</a></p>
                    <p>hoặc đăng nhập bằng:</p>
                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                    </button>

                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-google"></i>
                    </button>

                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                    </button>

                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-github"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>