<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/user_layout :: layout(~{::content}, ~{::head_additional})}">
<head>
    <th:block th:fragment="head_additional">
        <link rel="stylesheet" type="text/css" href="/css/category.css" th:href="@{/css/category.css}">
    </th:block>
</head>
<body>
<div th:fragment="content">
    <div class="container mt-5">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>
                <li class="breadcrumb-item"><a th:href="@{/category/{id}(id='all')}">Tất cả sản phẩm</a></li>
            </ol>
        </nav>
    </div>
    <div class="container mt-3">
        <div class="row">

            <div class="col-sm-3">
                <div class="category-widget">
                    <h2>Loại sản phẩm</h2>
                    <div class="list-group custom-rounded">
                        <th:block th:each="category : ${categories}">
                            <a th:href="@{/category/{id}(id=${category.id})}" class="list-group-item text-black"
                               th:text="${category.categoryName}"
                               th:classappend="${currentId == category.id} ? 'active' : ''">
                                <!--                                <p class="text-black" th:text="${category.categoryName}"></p>-->
                            </a>
                        </th:block>
                    </div>
                </div>

                <div class="flavor-widget mt-3">
                    <h2>Hương vị</h2>
                    <div class="list-group custom-rounded">
                        <th:block th:each="flavor : ${flavors}">
                            <a th:href="@{/category/flavors/{id}(id=${flavor.id})}" class="list-group-item text-black"
                               th:text="${flavor.flavorName}"
                               th:classappend="${currentFlavorId == flavor.id} ? 'active' : ''">
                                <!--  <p class="text-black" th:text="${flavor.flavorName}"></p>-->
                            </a>
                        </th:block>
                    </div>
                </div>

                <div class="product-sidebar mt-3">
                    <h2>Khuyến mãi</h2>
                    <div class="product-item" th:each="product : ${discountProducts}">
                        <div class="image">
                            <a th:href="@{/product/{id}(id=${product.id})}">
                                <img
                                        th:src="@{'/upload/product/' + ${product.image}}"
                                        alt="Product">
                            </a>
                        </div>
                        <div class="name">
                            <a th:href="@{/product/{id}(id=${product.id})}" th:text="${product.productName}"></a>
                        </div>
                        <div class="price">
                            <span><del
                                    th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'COMMA')} + 'đ'"></del></span>
                            <span th:text="${#numbers.formatDecimal(product.price - (product.price*product.discount/100), 0, 'COMMA', 0, 'COMMA')} + 'đ'"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <h2>Tất cả sản phẩm</h2>
                <hr class="my-2">
                <div class="sort d-flex justify-content-end align-items-center mb-2">
                    <label class="mr-2 mb-0">Sắp xếp</label>
                    <select id="sortSelect" class="form-select form-select-sm" aria-label="Default select example">
                        <option value="best_selling">Sản phẩm bán chạy</option>
                        <option value="product_name_asc">Tên: A-Z</option>
                        <option value="product_name_desc">Tên: Z-A</option>
                        <option value="price_asc">Giá: Tăng dần</option>
                        <option value="price_desc">Giá: Giảm dần</option>
                        <option value="newest">Mới nhất</option>
                        <option value="oldest">Cũ nhất</option>
                    </select>
                </div>

                <hr class="my-2">
                <div class="row pt-5">
                    <!--ADD CLASSES HERE d-flex align-items-stretch-->
                    <div class="col-lg-4 col-md-12 mb-4 d-flex align-items-stretch" th:each="product : ${products}">
                        <div class="card">
                            <img th:src="@{'/upload/product/' + ${product.image}}" class="w-100 img-resize"
                                 alt="Card Image">
                            <div class="brown-color card-body d-flex flex-column">
                                <a class="white-hov text-center text-reset"
                                   th:href="@{/product/{id}(id=${product.id})}"><h5 class="card-title"
                                                                                    th:text="${product.productName}">
                                    Canal</h5></a>
                                <p class="card-text mt-auto" th:text="${product.description}">lorem ipsum</p>
                                <form th:action="@{/cart/add}" method="POST">
                                    <input type="hidden" name="productId" th:value="${product.id}">
                                    <input type="hidden" name="quantity" th:value=1>
                                    <th:block th:if="${product.quantity != 0 && product.status !=0}">
                                        <div class="mt-auto d-flex flex-column align-items-stretch">
                                            <h6 class="text-center h3"
                                                th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'COMMA')} + 'đ'">
                                                15.99$</h6>
                                            <button type="submit"
                                                    class="btn btn-block btn-primary btn-lg active rounded-pill btn-hover"
                                                    role="button" aria-pressed="true">Thêm vào giỏ
                                            </button>
                                        </div>
                                    </th:block>
                                    <th:block th:if="${product.quantity == 0}">
                                        <div class="mt-auto d-flex flex-column align-items-stretch">
                                            <h6 class="text-center h4">
                                                HẾT HÀNG</h6>
                                            <button type="submit"
                                                    class="btn btn-block btn-primary btn-lg active rounded-pill btn-hover"
                                                    role="button" aria-pressed="true" disabled>Thêm vào giỏ
                                            </button>
                                        </div>
                                    </th:block>
                                    <th:block th:if="${product.status == 0}">
                                        <div class="mt-auto d-flex flex-column align-items-stretch">
                                            <h6 class="text-center h5">
                                                KHÔNG CÒN KINH DOANH</h6>
                                            <button type="submit"
                                                    class="btn btn-block btn-primary btn-lg active rounded-pill btn-hover"
                                                    role="button" aria-pressed="true" disabled>Thêm vào giỏ
                                            </button>
                                        </div>
                                    </th:block>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--/ Product Item -->
                    <th:block th:if="${category == null and flavor ==null}">
                        <div class="col-12 mb-5 mt-3 d-flex justify-content-center">
                            <ul class="pagination">
                                <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                                    <a class="page-link"
                                       th:href="@{/category/{id}(id='all',sortType=${sortType}, page=${currentPage - 1})}"
                                       tabindex="-1">Trang trước</a>
                                </li>
                                <li class="page-item" th:classappend="${page == currentPage ? 'active' : ''}"
                                    th:each="page : ${#numbers.sequence(1, totalPages)}">
                                    <a class="page-link"
                                       th:href="@{/category/{id}(id='all',sortType=${sortType},page=${page})}"
                                       th:text="${page}"></a>
                                </li>
                                <li class="page-item" th:classappend="${currentPage == totalPages ? 'disabled' : ''} ">
                                    <a class="page-link"
                                       th:href="@{/category/{id}(id='all',sortType=${sortType}, page=${currentPage + 1})}">Trang
                                        sau</a>
                                </li>
                            </ul>
                        </div>
                    </th:block>
                    <th:block th:if="${category != null and flavor == null}">
                        <div class="col-12 mb-5 mt-3 d-flex justify-content-center">
                            <ul class="pagination">
                                <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                                    <a class="page-link"
                                       th:href="@{/category/{id}(id=${category.id},sortType=${sortType}, page=${currentPage - 1})}"
                                       tabindex="-1">Trang trước</a>
                                </li>
                                <li class="page-item" th:classappend="${page == currentPage ? 'active' : ''}"
                                    th:each="page : ${#numbers.sequence(1, totalPages)}">
                                    <a class="page-link"
                                       th:href="@{/category/{id}(id=${category.id},sortType=${sortType},page=${page})}"
                                       th:text="${page}"></a>
                                </li>
                                <li class="page-item" th:classappend="${currentPage == totalPages ? 'disabled' : ''} ">
                                    <a class="page-link"
                                       th:href="@{/category/{id}(id=${category.id},sortType=${sortType}, page=${currentPage + 1})}">Trang
                                        sau</a>
                                </li>
                            </ul>
                        </div>
                    </th:block>
                    <th:block th:if="${flavor != null}">
                        <div class="col-12 mb-5 mt-3 d-flex justify-content-center">
                            <ul class="pagination">
                                <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                                    <a class="page-link"
                                       th:href="@{/category/flavors/{id}(id=${flavor.id})(sortType=${sortType}, page=${currentPage - 1})}"
                                       tabindex="-1">Trang trước</a>
                                </li>
                                <li class="page-item" th:classappend="${page == currentPage ? 'active' : ''}"
                                    th:each="page : ${#numbers.sequence(1, totalPages)}">
                                    <a class="page-link"
                                       th:href="@{/category/flavors/{id}(id=${flavor.id},sortType=${sortType},page=${page})}"
                                       th:text="${page}"></a>
                                </li>
                                <li class="page-item" th:classappend="${currentPage == totalPages ? 'disabled' : ''} ">
                                    <a class="page-link"
                                       th:href="@{/category/flavors/{id}(id=${flavor.id})(sortType=${sortType}, page=${currentPage + 1})}">Trang
                                        sau</a>
                                </li>
                            </ul>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>