<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/user_layout :: layout (~{::content}, ~{::head_additional})}">
<head>
    <th:block th:fragment="head_additional">
        <link rel="stylesheet" href="/css/what.css" th:href="@{/css/product.css}">
    </th:block>
</head>
<body>

<div th:fragment="content">
    <div class="container mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>
                <li class="breadcrumb-item"><a th:href="@{/category/{id}(id='all')}">Tất cả sản phẩm</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:if="${product != null}"
                    th:text="${product.productName}">Chi tiết sản
                    phẩm
                </li>
            </ol>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <!-- Image -->
            <div class="col-12 col-lg-6">
                <div class="card bg-light mb-3">
                    <div class="card-body d-flex flex-column align-items-center">
                        <img class="img-fluid" th:src="@{'/upload/product/' + ${product.image}}"
                             style="height: 350px;width: 350px;"
                             alt="Product image">
                        <a href="" data-toggle="modal" data-target="#productModal">
                            <p class="text-center">Zoom</p>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Add to cart -->
            <div class="col-12 col-lg-6 add_to_cart_block">
                <div class="card bg-light">
                    <div class="card-body d-flex flex-column align-items-center">
                        <h3 class="text-center" th:text="${product.productName}">Product name</h3>
                        <div class="text-center">
                            <th:block
                                    th:if="${product.discount != 0 and product.quantity >=0 and product.status !=0}">
                                <span class="price"
                                      th:text="${#numbers.formatDecimal(product.price - product.price*product.discount/100, 0,'COMMA', 0 , 'COMMA')} + 'đ'"></span>
                                <span class="price_discounted ml-2"
                                      th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'COMMA')} + 'đ'"></span>
                            </th:block>
                            <th:block
                                    th:if="${product.discount == 0 and product.quantity>0}">
                                 <span class="price"
                                       th:text="${#numbers.formatDecimal(product.price, 0,'COMMA', 0 , 'COMMA')} + 'đ'"></span>
                            </th:block>
                            <th:block th:if="${product.quantity == 0}">
                                <span class="price">TẠM HẾT HÀNG</span>
                            </th:block>
                            <th:block th:if="${product.status == 0}">
                                <span class="price">SẢN PHẨM KHÔNG CÒN KINH DOANH</span>
                            </th:block>
                        </div>
                        <form method="post" th:action="@{/cart/add}">
                            <input type="hidden" name="productId" th:value="${product.id}">
                            <div class="form-group d-flex justify-content-between align-items-center">
                                <label for="quantity">Số lượng :</label>
                                <input type="number" id="quantity" name="quantity" class="form-control w-50"
                                       value="1"
                                       min="1">
                            </div>
                            <div class="col d-flex justify-content-center align-items-center">
                                <button th:if="${product.status ==0 or product.quantity == 0}" type="submit"
                                        class="btn btn-success text-uppercase" disabled>
                                    <i class="fa fa-shopping-cart"></i> Thêm vào giỏ
                                </button>
                                <button th:unless="${product.status ==0 or product.quantity == 0}" type="submit"
                                        class="btn btn-success text-uppercase">
                                    <i class="fa fa-shopping-cart"></i> Thêm vào giỏ
                                </button>
                                <input type="hidden" name="csrfToken" th:value="${session.csrfToken}">
                            </div>
                        </form>
                        <hr class="mt-auto">
                        <h6>Loại: <a th:href="@{/category/flavors/{id}(id=${product.flavor.id})}"
                                     th:text="${product.flavor.flavorName}">Flavor name</a></h6>
                        <p>Mô tả: <span th:text="${product.description}">Product description</span></p>
                        <hr class="mt-auto">
                        <div class="product_rassurance mt-auto">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-truck fa-2x"></i><br>Fast delivery</li>
                                <li class="list-inline-item"><i class="fa fa-credit-card fa-2x"></i><br>Secure payment
                                </li>
                                <li class="list-inline-item"><i class="fa fa-phone fa-2x"></i><br>+33 1 22 54 65 60</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <th:block th:with="previousProductId=${currentProductId - 1}, nextProductId=${currentProductId + 1}">
                <div class="col-12 d-flex justify-content-between">
                    <a th:if="${previousProductId != null and previousProductId >=1}"
                       th:href="@{/product/{id}(id=${previousProductId})}"
                       class="btn btn-secondary mr-2">Prev</a>
                    <a th:if="${nextProductId != null and nextProductId <= maxProductId}"
                       th:href="@{/product/{id}(id=${nextProductId})}"
                       class="btn btn-secondary ml-auto">Next</a>
                </div>
            </th:block>
        </div>

        <div class="row justify-content-center mb-4">
            <div class="col">
                <div class="user-comments">
                    <h3>Bình luận</h3>
                    <th:block th:if="${session.user!=null}">
                        <span>Tên người dùng: <span class="font-weight-bold"
                                                    th:text="${session.user !=null ? session.user.name: 'NULL'}"> </span></span>
                        <form th:action="@{/product/{id}/feedback(id=${product.id})}" method="POST"
                              th:object="${feedback}">

                            <div id="errorMessage" th:if="${errorMessage}" class="alert alert-danger" role="alert"
                                 th:text="${errorMessage}">
                            </div>


                            <div class="form-group">
                                <label for="comment-content">Comment:</label>
                                <textarea name="content" class="form-control" id="comment-content" rows="3"></textarea>
                            </div>
                            <input type="hidden" name="_csrfParameterName" th:value="${_csrfToken}">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </th:block>
                    <th:block th:unless="${session.user!=null}">
                        <h4 class="text-center">Vui lòng đăng nhập để bình luận!</h4>
                    </th:block>

                    <hr>

                    <!--                    <div class="comments-list mt-auto" style="height: 300px;overflow-y: auto">-->
                    <!--                        <div class="comment">-->
                    <!--                            <strong>John Doe</strong>-->
                    <!--                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel lacus vitae magna-->
                    <!--                                consequat-->
                    <!--                                eleifend ac non tortor.</p>-->
                    <!--                        </div>-->
                    <!--                        <div class="comment">-->
                    <!--                            <strong>Jane Doe</strong>-->
                    <!--                            <p>Integer vestibulum sapien sit amet justo feugiat efficitur. Nulla tempus mauris vel-->
                    <!--                                dapibus-->
                    <!--                                dictum.</p>-->
                    <!--                        </div>-->
                    <!--                        <div class="comment">-->
                    <!--                            <strong>Jane Doe</strong>-->
                    <!--                            <p>Integer vestibulum sapien sit amet justo feugiat efficitur. Nulla tempus mauris vel-->
                    <!--                                dapibus-->
                    <!--                                dictum.</p>-->
                    <!--                        </div>-->
                    <!--                        <div class="comment">-->
                    <!--                            <strong>Jane Doe</strong>-->
                    <!--                            <p>Integer vestibulum sapien sit amet justo feugiat efficitur. Nulla tempus mauris vel-->
                    <!--                                dapibus-->
                    <!--                                dictum.</p>-->
                    <!--                        </div>-->
                    <!--                        <div class="comment">-->
                    <!--                            <strong>Jane Doe</strong>-->
                    <!--                            <p>Integer vestibulum sapien sit amet justo feugiat efficitur. Nulla tempus mauris vel-->
                    <!--                                dapibus-->
                    <!--                                dictum.</p>-->
                    <!--                        </div>-->
                    <!--                        <div class="comment">-->
                    <!--                            <strong>Jane Doe</strong>-->
                    <!--                            <p>Integer vestibulum sapien sit amet justo feugiat efficitur. Nulla tempus mauris vel-->
                    <!--                                dapibus-->
                    <!--                                dictum.</p>-->
                    <!--                        </div>-->
                    <!--                        &lt;!&ndash; More comments here &ndash;&gt;-->
                    <!--                    </div>-->

                    <div
                            th:if="${!#lists.isEmpty(feedbackList) and feedbackList!=null and feedbackList.size() != 0}">
                        <div class="row d-flex justify-content-center">
                            <div class="col">

                                <div class="comments-list mt-auto" style="height: 450px;overflow-y: auto">

                                    <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                                        <div class="card-body p-4">
                                            <div class="card mb-4"
                                                 th:if="${!feedbackList.isEmpty() or feedbackList!=null}"
                                                 th:each="fb : ${feedbackList}">
                                                <div class="card-body">
                                                    <p th:text="${fb.content}">Type your note, and hit enter to add
                                                        it</p>

                                                    <div class="d-flex justify-content-between">
                                                        <div class="d-flex flex-row align-items-center">
                                                            <i class="fa-solid fa-user mr-3"></i>
                                                            <p class="mb-0 ms-2" th:text="${fb.user.name}">Johny</p>
                                                        </div>
                                                        <div class="d-flex flex-row align-items-center">
                                                            <i class="fa-solid fa-calendar-days mr-3"></i>
                                                            <p class="text-muted mb-0"
                                                               th:text="${#dates.format(fb.date, 'yyyy-MM-dd')}">
                                                                4-12-2014</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <th:block th:if="${feedbackList.isEmpty() or feedbackList == null}">
                        <h3 class="font-weight-bold text-center">Chưa có bình luận!</h3>
                    </th:block>

                </div>
            </div>
        </div>


        <div class="row mt-5">
            <h2>Sản phẩm liên quan</h2>
        </div>
        <div class="row mt-3">
            <th:block th:each="relatedProduct, stat : ${products}">
                <!--                      th:if="${stat.index < (relatedProduct.size() > 4  ? 4 : 3 or !relatedProduct.contains(currentProductId))}">-->
                <div class="col-6 col-md-3 mb-4 d-flex align-items-stretch">
                    <div class="card">
                        <a th:href="@{/product/{id}(id=${relatedProduct.id})}">
                            <img th:src="@{'/upload/product/'+${relatedProduct.image}}" class="w-100 img-resize"
                                 alt="Product image">
                        </a>
                        <div class="brown-color card-body d-flex flex-column">
                            <a class="white-hov text-center text-reset"
                               th:href="@{/product/{id}(id=${relatedProduct.id})}"><h5
                                    class="card-title"
                                    th:text="${relatedProduct.productName}"></h5>
                            </a>
                            <p class="card-text" th:text="${relatedProduct.description}"></p>
                            <a th:href="@{/product/{id}(id=${relatedProduct.id})}"
                               class="btn btn-primary mt-auto">View</a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>


    <!-- Modal image -->
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel">Product title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="img-fluid" th:src="@{'/upload/product/' + ${product.image}}"
                         style="width: 650px;height: 650px;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
