<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/user_layout :: layout (~{::content}, ~{::head_additional})}">
<head>
    <th:block th:fragment="head_additional">
        <link rel="stylesheet" th:href="@{/css/user-profile.css}" href="/css/user-profile.css">
    </th:block>
</head>
<body>
<th:block th:fragment="content">
    <div class="container-xl px-4 mt-4">
        <!-- Account page navigation-->
        <nav class="nav nav-borders">
            <a class="nav-link ms-0 active" th:href="@{/user/profile}" href="/user/user-profile"
            >Hồ sơ</a>
            <a class="nav-link" th:href="@{/user/billing}" href="/user/user-billing"
            >Đặt hàng</a>
            <a class="nav-link" th:href="@{/user/security}" href="/user/user-security"
            >Mật khẩu</a>
        </nav>
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-xl-4">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Cà phê filtro</div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        <img class="img-account-profile rounded-circle mb-2"
                             src="https://media.timeout.com/images/105526234/750/422/image.jpg" alt="">
                        <!-- Profile picture help block-->
                        <h4 class="font-bold text-muted mb-4">Xin chào <span
                                th:text="${session.account.accountName}"></span></h4>
                        <div class="small font-italic text-muted mb-4">Chúc bạn ngày mới vui vẻ !</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Chi tiết tài khoản</div>
                    <div class="mt-3 alert alert-success" role="alert" th:if="${message}" th:text="${message}">
                        Your account has been updated successfully.
                    </div>
                    <div class="mt-3 alert alert-danger" role="alert" th:if="${errorMessage}" th:text="${errorMessage}">
                        Your account has been updated successfully.
                    </div>
                    <div class="card-body">
                        <form method="post" th:action="@{/user/profile/{id}(id=${user.getId()})}">
                            <!--                            <input type="hidden" name="id" th:value="${user.getId()}">-->
                            <!-- Form Group (username)-->
                            <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-12">
                                    <label class="small mb-1" for="inputUsername">Họ và tên</label>
                                    <input class="form-control" id="inputUsername" type="text"
                                           name="name"
                                           placeholder="Enter your first name"
                                           th:value="${user.getName()}">
                                </div>
                            </div>

                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-12">
                                    <label class="small mb-1" for="inputLocation">Địa chỉ</label>
                                    <input class="form-control" id="inputLocation" type="text"
                                           name="address"
                                           placeholder="Enter your first name"
                                           th:value="${user.getAddress()}">
                                </div>
                            </div>
                            <!-- Form Row        -->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (organization name)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputZip">Mã zip</label>
                                    <input class="form-control" id="inputZip" type="text"
                                           name="zip"
                                           placeholder="Enter your organization name"
                                           th:value="${user.getZip()}">
                                </div>
                                <!-- Form Group (location)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputCity">Thành phố</label>
                                    <input class="form-control" id="inputCity" type="text"
                                           name="city"
                                           placeholder="Enter your location"
                                           th:value="${user.getCity()}">
                                </div>
                            </div>
                            <!-- Form Group (email address)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="inputEmailAddress">Địa chỉ email</label>
                                <input class="form-control" id="inputEmailAddress" type="email"
                                       name="email"
                                       placeholder="Enter your email address"
                                       th:value="${user.getEmail()}">
                            </div>
                            <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (phone number)-->
                                <div class="col-md-4">
                                    <label class="small mb-1" for="inputPhone">Số điện thoại</label>
                                    <input class="form-control" id="inputPhone" type="text"
                                           name="phoneNumber"
                                           placeholder="Enter your phone number"
                                           th:value="${user.getPhoneNumber()}">
                                </div>
                                <!-- Form Group (birthday)-->
                                <div class="col-md-4">
                                    <label class="small mb-1" for="inputBirthday">Ngày sinh</label>
                                    <input class="form-control" id="inputBirthday" type="text"
                                           name="dob"
                                           placeholder="Enter your birthday"
                                           th:value="${#dates.format(user.getDob(), 'yyyy-MM-dd')}">
                                </div>
                                <div class="col-md-4">
                                    <label class="small mb-1" for="inputSex">Giới tính</label>
                                    <input class="form-control" id="inputSex" type="text"
                                           name="sex"
                                           placeholder="Enter your sex"
                                           th:value="${user.getSex()}">
                                </div>
                            </div>
                            <!-- Save changes button-->
                            <button class="btn btn-primary" type="submit">Cập nhật thông tin</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>