<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/user_layout :: layout (~{::content}, ~{::head_additional})}">
<head>

    <th:block th:fragment="head_additional"></th:block>
</head>
<body>
<th:block th:fragment="content">
    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center
      min-vh-100 g-0">
            <div class="col-12 col-md-8 col-lg-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div id="errorMessage" th:if="${message}" class="alert alert-danger" role="alert"
                             th:text="${message}">
                        </div>
                        <div class="mb-4">
                            <h5>Quên mật khẩu?</h5>
                            <p class="mb-2">Nhập địa chỉ email của bạn để lấy mật khẩu
                            </p>
                        </div>
                        <form th:action="@{/forgot-password} " method="post">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" id="email" class="form-control" name="email"
                                       placeholder="Nhập địa chỉ email"
                                       required="">
                            </div>
                            <div class="mb-3 d-grid">
                                <button type="submit" class="btn btn-primary">
                                    Reset mật khẩu
                                </button>
                            </div>
                            <div class="d-flex justify-content-between">
                                <a th:href="@{/register}">Đăng ký</a>
                                <a th:href="@{/login}">Đăng nhập</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>