<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/user_layout :: layout(~{::content})}">
<head>

</head>
<body>
<div th:fragment="content">
    <section style="background-color: #3C2A21;">
        <div class="text-center container py-5">
            <h4 class="mt-4 mb-5"><strong style="color: #E5E5CB;">Sản phẩm bán chạy</strong></h4>
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="position-relative">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light scale-up"
                             data-mdb-ripple-color="light">
                            <img src="https://i.imgur.com/pZ1wyKM.jpeg" class="w-100 img-resize"/>
                            <a href="#!">
                                <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="" class="text-reset">
                                <h5 class="card-title mb-3">House Blend Coffee</h5>
                            </a>
                            <p>Coffee Beans</p>

                            <h6 class="display-4">$15.99</h6>
                            <a href="#" class="btn btn-block btn-primary btn-lg active rounded-pill btn-hover"
                               role="button" aria-pressed="true">Primary link</a>
                        </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                             data-mdb-ripple-color="light">
                            <img src="https://i.imgur.com/cbyJnLu.jpg" class="w-100"/>
                            <a href="#!">

                                <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="" class="text-reset">
                                <h5 class="card-title mb-3">House Blend Coffee</h5>
                            </a>
                            <a href="" class="text-reset">
                                <p>Coffee Beans</p>
                            </a>
                            <h6 class="mb-3">$15.99</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                             data-mdb-ripple-color="light">
                            <img src="https://i.imgur.com/cbyJnLu.jpg" class="w-100"/>
                            <a href="#!">

                                <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="" class="text-reset">
                                <h5 class="card-title mb-3">House Blend Coffee</h5>
                            </a>
                            <a href="" class="text-reset">
                                <p>Coffee Beans</p>
                            </a>
                            <h6 class="mb-3">$15.99</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                             data-mdb-ripple-color="light">
                            <img src="https://i.imgur.com/cbyJnLu.jpg" class="w-100"/>
                            <a href="#!">


                                <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="" class="text-reset">
                                <h5 class="card-title mb-3">House Blend Coffee</h5>
                            </a>
                            <a href="" class="text-reset">
                                <p>Coffee Beans</p>
                            </a>
                            <h6 class="mb-3">$15.99</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                             data-mdb-ripple-color="light">
                            <img src="https://i.imgur.com/cbyJnLu.jpg" class="w-100"/>
                            <a href="#!">

                                <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="" class="text-reset">
                                <h5 class="card-title mb-3">House Blend Coffee</h5>
                            </a>
                            <a href="" class="text-reset">
                                <p>Coffee Beans</p>
                            </a>
                            <h6 class="mb-3">$15.99</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                             data-mdb-ripple-color="light">
                            <img src="https://i.imgur.com/cbyJnLu.jpg" class="w-100"/>
                            <a href="#!">

                                <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="" class="text-reset">
                                <h5 class="card-title mb-3">House Blend Coffee</h5>
                            </a>
                            <a href="" class="text-reset">
                                <p>Coffee Beans</p>
                            </a>
                            <h6 class="mb-3">$15.99</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>